<div class="remodal" data-remodal-id="modal-change-password">
  <button data-remodal-action="close" class="remodal-close"></button>
  <i class="i-title fa fa-lock fa-2x" aria-hidden="true"><span>Change Password</span></i>
  <form class="change-password-form" method="post" action="{{ path_for('change_password', { name: file.name }) }}">
    <input id="password-input-1" class="password-input" type="password" name="password1" pattern="^[a-z0-9-_]{3,10}$" placeholder="Enter new password"> <!-- TODO: Add special characters to patter -->
    <div class="break"></div>
    <input id="password-input-2" class="password-input" type="password" name="password2" placeholder="Confirm password"> <!-- TODO: Add special characters to patter -->
    <div class="break"></div>
    <div class="modal-msg-wrapper" style="display:none"></div>
    <div class="break"></div>
    <button class="remodal-confirm" type="submit" name="submit-pass">OK</button>
    <button class="remodal-cancel" data-remodal-action="cancel">Cancel</button>
  </form>
</div>
