<div class="remodal" data-remodal-id="modal-check-password">
  <button data-remodal-action="close" class="remodal-close"></button>
  <i class="i-title fa fa-lock fa-2x" aria-hidden="true"><span>Check Password</span></i>
  <form method="post" action="{{ path_for('check_password', { name: file.name }) }}">
    <input class="password-input" type="password" name="password" placeholder="Enter password"> <!-- TODO: Add special characters to patter -->
    <div class="break"></div>
    <button class="remodal-confirm" type="submit" name="submit-pass">OK</button>
    <button class="remodal-cancel" data-remodal-action="cancel">Cancel</button>
    <div class="break"></div>
    <div class="msg-wrapper" style="display:none">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"><span class="msg">{{ msg.0 }}</span></i>
    </div>
  </form>
</div>
