<div class="remodal" data-remodal-id="modal-delete">
  <button data-remodal-action="close" class="remodal-close"></button>
  <i class="i-title fa fa-trash fa-2x" aria-hidden="true"><span>Delete</span></i>
  <a class="remodal-confirm" href="{{ path_for('delete', { name: file.name }) }}">OK</a>
  <button class="remodal-cancel" data-remodal-action="cancel">Cancel</button>
</div>
